#navbar {
    flex-direction: column;
    position: sticky;
    width: 100%;
}

.service-contanier{
    width: 100%;
}

.services {
    flex-wrap: wrap;


    align-items: center;
    justify-content: center;
}

.heading2 {
    padding: 0px;
    font-size: 22px;
}

#client-section {
   
    width: 100%;
}

.clients-container {
    flex-wrap: wrap;
}

#contact {
   width: 100%;
}

#contact h1 {
    padding-top: 60px;
}

.contact-box input,
.contact-box textarea {
    width: 90%;
    padding: 10px 60px;
}

#navbar ul li a {

    font-size: 12px
}

#navbar ul {

    margin-left: 0px;
}

#home {

    margin: 25px 20x;
    width: 100%;
}
#home::before{
    height: 100%;
}
.heading1 {
    font-size: 1.3rem;

    padding: 0px 0px;
}

#home p {
    font-size: 0.9rem;
}

.btn {

    width: 120px;
    height: 35px;
}

#client-section h1 {
    font-size: 28px;
}

.services {
    flex-wrap: wrap;
}

.box img {
    height: 80px;

    width: 140px;
}

.client-item img {
    height: 58px;
}

footer {
    width: 100%;
}